@tailwind base;
@tailwind components;

@layer components {
  .btn {
    @apply inline-flex items-center justify-center px-3 py-1 border border-transparent text-base rounded-md text-white bg-blue-600 hover:bg-blue-700;
  }

  .btn-primary {
    @apply font-semibold tracking-wide uppercase;
  }

  .word {
    @apply bg-yellow-100 text-center w-2 h-2;
  }

  .team-leader {
    @apply text-indigo-700 font-bold;
  }

  .word-selectable {
    @apply cursor-pointer;
  }

  .word-red {
    @apply bg-red-200;
  }

  .word-blue {
    @apply bg-blue-200;
  }

  .word-killer {
    @apply bg-gray-900 text-white;
  }

  .leader-name-red {
    @apply text-red-600;
  }

  .leader-name-blue {
    @apply text-blue-600;
  }

  .guessing-red {
    @apply bg-red-100;
  }

  .guessing-blue {
    @apply bg-blue-100;
  }
}

@tailwind utilities;

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.word-used {
  opacity: 0.3;
  cursor: default;
}
